go 1.25.0

use (
	./foundation/config
	./foundation/ginx
	./foundation/httpresp
	./foundation/httpx
	./foundation/jwt
	./foundation/ossx
	./foundation/pgx
	./foundation/randx
	./foundation/rdx
	./foundation/resilience
	./foundation/slog
	./foundation/tracing
	./modules/auth
	./modules/billing
	./modules/email
	./modules/referral
	./modules/user
	./stacks/saascore
	./templates/quickstart
)
